<h1>All Events</h1>
<% if @events.any? %>
<div>
<% @events.each do |event| %>
<p>Name: <%= event.name %></p>
<p>Date: <%= event.date %></p>
<p>Description: <%= event.description %></p>
<p>Created by: <%= event.creator.name %></p>
<% end %>
</div>
<% else %>
<p>There are no events</p>
<% end %>
<p>Create an <%= link_to 'event', new_event_path %></p>
