<h1>Event</h1>
<p>Name: <%= @event.name %></p>
<p>Date: <%= @event.date %></p>
<p>Description: <%= @event.description %></p>
<p>Create another <%= link_to 'event', new_event_path %></p>
<p>List all <%= link_to 'events', events_path %></p>
