<h1>Your Events</h1>
<p>Username: <%= @user.name %></p>
<h2>Events you are hosting</h2>
<% if @events.any? %>
  <div>
  <% @events.each do |event| %>
    <%= render 'events/event_info', event: event %>
    <%= render 'events/guests', event: event %>
    <p>Add <%= link_to 'guest', new_event_attendee_path(id: event.id) %></p>
    <p>******************************</p>
  <% end %>
  </div>
<% else %>
  <p>You have no events.</p>
<% end %>
<p>Create an <%= link_to 'Event', new_event_path  %></p>
<p>Upcoming Events:</p>
<% if current_user.upcoming_events.any? %>
  <% current_user.upcoming_events.each do |event| %>
    <p><%= "#{event.date}: #{event.name}" %></p>
  <% end %>
<% else %>
  <p>You have nothing to attend.</p>
<% end %>
<p>Previous Events:</p>
<% if current_user.previous_events.any? %>
  <% current_user.previous_events.each do |event| %>
    <p><%= "#{event.date}: #{event.name}" %></p>
  <% end %>
<% else %>
  <p>You have attended no events.</p>
<% end %>
